/*
 * Title: Business Elegance v.1.0
 * Site: http://www.chamadigital.com
 * Author: Anselmo Ribeiro
 * Last Modified: 28_02_2008
*/



/*global reset */


html *{
	padding: 0;
	margin: 0;
}
a img, :link img, :visited img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}

p{
	line-height: 16px;
}
/*  global reset */



/* base html */

body {
  background: #1e2932 ;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;/*this is in place to center in older browsers*/
}
a {
 text-decoration: none;
 color:#05c7c0;
}
a:link {/* unvisited link */
 color:#05c7c0;
}     
 
a:hover { /* mouse over link */
 color:#05c7c0;
 text-decoration: underline;
}  
a:active {/* selected link */
 color:#05c7c0;
}



/* end base html */
/*  layout */
#wrapper{
	width: 960px;
    height: 100px;
	margin: 0 auto;
	text-align: left;
}
#header{
	padding: 0px 0px 0px 0px;
    height: 100px;
	position: relative;
}
#header h1{
	position: absolute;
	top:35px;
	left: 52px;
	width: 350px;
	height: 23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#fff;
	font-weight: bold;
}
#header h1 a{
	text-decoration: none;
	color:#fff;
}

#content{
	width: 856px;
	padding: 52px 52px 0px 52px;
	height: 420px;
	background: #2f516c;
	position: relative;
}
#welcome{
	padding-bottom: 35px;
	margin: 0px 0 0 473px;
	
}
#imagem{
	position: absolute;
	top:52px;
}

#contact_info{
    text-align:right;
	height:20px;
	width: 400px;
	position: absolute;  
	top: 500px;
	right: 52px;
	bottom: 0;
	color:#eaa05e;
	font-size:12px;
}

/*navigation*/
#navigation{
	
	position: absolute;  
	top: 51px;
	right: 22px;
	bottom: 0;
}
#navigation li{
	
	float: left;
	
}
#navigation a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration:none;
	padding:10px 14px 5px 0px;;
	color:#fff;
	margin-right: 6px;
	font-weight: normal;
}
#navigation a:hover{
	border-bottom: 1px solid #eaa05e;
	color:#eaa05e;
}
#navigation li.selected a{
	border-bottom: 1px solid #eaa05e;
	color:#eaa05e;
}
h2#slogan{
	position: absolute;
	top: 100px;
	right: 22px;
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size:28px;	
	font-weight: normal;
}
h2#slogan span{
	font-style: italic;
	color: #95ca05;
}
h2{
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 30px;
	text-transform: uppercase;
}
	
h3{
	padding: 30px 0 20px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
}
#indent{
	margin-left: 30px;
	margin-bottom: 6px;
}
#link{
	border-bottom: 1px solid #eaa05e;
	color:#f19746;
	margin-left: 30px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight:bold
}
#link2{
	border-bottom: 1px solid #eaa05e;
	color:#f19746;
	font-size: 11px;
	text-transform: uppercase;
	font-weight:bold
}
#center{
	float:left;
	padding-bottom: 35px;
	border-bottom: 1px solid #343a3d;
}
